* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif !important;
  }
input,
button,
select {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.headerf {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.headerf a {
    color: black;
}

.navf {
    display: flex;
    justify-content: space-between;
}

.left i,
.mainf i {
    color: #f8796c;

}

.navf .left a {
    padding: 0 5rem;
    transition: .8s;

}

.navf .mainf {
    transition: .8s;
}

.left :hover {
    color: #f8796c;
}

.navf .mainf :hover {
    color: #f8796c;
}

.left a {
    margin: 0 10px;
}

.social a {
    padding: 0 5px;
    transition: .8s;
    font-size: larger;
}

.social a :hover {
    color: #f8796c;

}

.headersecondsecond {
    background-color: #208BBF;
    padding: 30px 0;
}

.support {
    margin-top: 5rem;
}

.headersecond a {
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-right: 20px;
}

.header-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0px;

}

header .site-logo img {
    width: 100%;

}

.site-logo {
    min-width: 20px;
    max-width: 80%;
    display: flex;
    align-items: center;
}

.site-logo a {
    font-size: 30px;
    width: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    display: contents;
}

.header-feature-item {
    padding: 0;
}

.header-feature-item h6 {
    margin-bottom: 0;
    color: var(--ltn__body-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}

.header-feature-item p {
    margin-bottom: 0;
    font-size: 16px;
    font-family: var(--ltn__heading-font);
    font-weight: 700;
}

.header-feature-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 50px;
    max-width: 70%;
}

.form-control {
    border-radius: 0%;
    padding: 10px;
}

.header-feature-info {
    margin-left: 10px;
}

.right-inner-addon {
    position: relative;
    width: 25rem;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 15px 12px;
    pointer-events: none;
}

.header-search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.right-inner-addon-b {
    position: relative;
}

input {
    width: 50%;
}

.header-middle {
    display: flex;
    justify-content: space-between;

}

.usicon {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.usicon p {
    margin: 0;
}

.usicon i {
    margin-left: 15px;
    font-size: 20px;
}

.usicon .cart-section {
    margin-left: 20px;
}
.badge {
    top: -9px;
    right: -10px;
    z-index: 99;
    padding: 1px 1px;
    font-size: 10px;
    border-radius: 9px;
    padding: 4px 5px;
}
.usicon .badge{
    background-color: #f8796c;
}

.redp {
    color: #f8796c;
}

.navbar {
    background-color: #ece5dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    padding: 0 20px;

}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: black;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}
.arrow {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-left: 0.38em;
    margin-top: -0.25em;
    transition: transform 100ms ease-in-out;
    font-size: 10px;
  }

  li:focus-within>button>.arrow {
    transform: rotate(-225deg);
    margin-top: 4px;
  }
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.dropdown-menu a {
    display: block;
    padding: 5px 0;
    color: #333;
}

.dropdown:hover .dropdown-menu {
    display: block;
    color: #f8796c;
}


.badged{
    position: absolute;
    top: -21px;
    right: -14px;
    z-index: 99;
    padding: 1px 1px;
    font-size: 10px;
    padding: 1px 5px;
}

.new {
    background-color: red;

}

.hot {
    background-color: #f8796c;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

}
#slider{
    background-color: #F2F6F7;
}
.slideshow-container {
    position: relative;
    width: 100%;
    height: 500px;
}

.slideshow-slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    text-align: center;
}

.slideshow-slide img {
    max-width: 100%;
    max-height: 100%;
}

.slideshow-slide h1,
.slideshow-slide h2,
.slideshow-slide h3,
.slideshow-slide p,
.slideshow-slide a {
    margin: 0;
    padding: 0;
}
.slider-text span{
    color: #f8796c;
    font-size: 26px;
}

.slideshow-slide h2 {
    color: #f8796c;
}

.slideshow-slide h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.slideshow-slide h3 {
    font-size: 2rem;
    margin-top: 30px;
}

.slideshow-slide p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.slideshow-slide a {
    display: inline-block;
    background-color: #f8796c;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.slideshow-slide a:hover {
    background-color: white;
    color: black;
    border-radius: 0;
}
.banner-container{
    padding: 5rem 0;
    margin: 0px 0px;
}
.banner{
    overflow: hidden;
}

.first-banner{
    overflow: hidden;
    transition: 0.5s;
}

.first-banner img {
    width: 100%;
}

.first-banner:hover{
    transform: scale(1.1);
}

.second-banner{
    overflow: hidden;
    transition: 0.5s;
}

.second-banner img {
    width: 100%;
}

.second-banner:hover{
    transform: scale(1.1);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}
.btn{
    background-color: #F87A6D;
    color: white;
}
.dot-container {
    text-align: center;
    margin-top: 20px;
    }
    
    .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease;
    }
    
    .dot.active {
    background-color: #f8796c;
    }

/* Animation */
.slideshow-slide h1 {
    animation: slide-text 7s infinite;
}

@keyframes slide-text {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    10% {

        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}
.service-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
  }
  .service-box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    text-align: justify;
    border: 1px solid #e5eaee;
    
  }
  .service-item {
    display: flex;
    margin: 0px 15px;
    gap:10px;
    text-align: center;
    justify-content: space-between;
  }
  
  .service-item i {
    font-size: 48px;
    margin-bottom: 20px;
    color: black;
  }
  
  .service-item h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
    font-weight: 700;
  }
  
  .service-item p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
      
  }
  .service-text{
    text-align: left;
   
    margin-bottom: 5px;
    color: #071c1f;
}
  .service-icon{
    padding: 10px 0px;
}

.container .prodinfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .prodinfo .card {
    width: 24%;
    text-align: center;
    padding-bottom: 1.5rem;
    border: none;

}
.row .btnnew{
    width: 6%;
    margin-bottom: 3rem ;
    color: white;
    border: 1px solid #ED856F;
}
.button{
  width:100%;
  height: 3rem;
background: #ED856F;
  color: white;
  border: 1px solid #ED856F;
}

.container .prodinfo .card img {
    width: 100%;
}

.container .prodinfo .card .info a {
    text-decoration: none;
    font-size: 14px;
    font-family: Catamaran, sans-serif;
    color: #000000;
}

.container .prodinfo .card .info p {
    color: #000000;
}

.container .prodinfo .card .info {
    margin: 18px auto;
}

footer {
    background-color: #ece5dd;
}

.footer-top-area {
    padding-top: 5rem;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: center !important;
    flex-wrap: wrap !important;
    justify-content: center;
}

.footer-first {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.footer-first h3 {
    margin-bottom: 10px;
}

.footer-last {
    background-color: #ece5dd;
    padding: 20px 0;
    text-align: center;
}

.footer-last p {
    margin-bottom: 5px;
}

.footer-last a {
    color: #000000;
    text-decoration: underline;
}

.footer-divider {
    border-top: 1px solid #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-logo{

    justify-content: center;
}

.image_container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
}
.money{
    color: #f8796c;
}


@media (max-width:576px) {

    .headerf,
    line {
        display: none;
    }
}

@media (min-width:576px) and (max-width:768px) {

    .headerf,
    line {
        display: none;
    }
}
.slick-dots {
    bottom: 18px;
}

.slick-prev, .slick-next{
    font-size: 20px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: black;
    border: none;
    outline: none;
    background: transparent;
    transition: .3s;
    z-index: 99;
}

.slick-prev{
    left: 5px;
}

.slick-prev::before{
    content: '';
    display: none;
}

.slick-next{
    right: 5px;
}

.slick-next::before{
    content: '';
    display: none;
}

.slick-prev:hover{
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #eb6954;
}

.slick-next:hover{
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #eb6954;
}
.scroll_text{
    display: flex;
    gap: 15px;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    margin: 17px 0px;
}
.scroll_text a{
    color: #000000;
}

.mail_container{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(246,247,248);
    padding: 2%;
    align-items: center;
   border:1px solid #e5eaee;

}

.input_container{
    width: 60%;
    display: flex;
}

.input_container input{
    width: 70%;
    height: 8vh;
    padding-left: 20px;
   border:1px solid #e5eaee;
}

.input_container button{

    width: 18%;
    height: 8.0vh;
    background-color: #f8796c;
    color: white;
    border: none;


}

.input_container input:focus { 
    outline: none !important;
    box-shadow: 0;
    border: 2px solid #da7d2d;
 }

 .input_container input::placeholder{
 color: gray;
   
}

.shop-page-info{
  background: #f2f4f5 url(//cdn.shopify.com/s/files/1/0027/0952/0502/files/breadcrumb_2.png?v=1666691001) no-repeat scroll center center / cover;
  padding-top: 41px;
  padding-bottom: 50px;
}

.shop-bread-crump{
  text-align: center;
  position: sticky;
}
.shop-bread-crump a{
  color: #2f78a7;

}
.shop-page-info {
  margin-bottom: 5rem;
}
.ltn__breadcrumb-inner-2 .ltn__section-title-2 .section-title {
  font-size: 40px;
  margin-bottom: 15px;
}


.breadcrumb-list > li > a {
  color: #071c1f;
}
.section-title-area {
  padding-left: 5rem;
}
.hm{
  color: #000000; 
  font-weight: 700 !important;
}
.ltn__breadcrumb-list  span{
  color: #f8796c; 
  font-weight: 700 !important;
}



/* ------------------------------------- */



/*------- product item start -------*/
.product-item {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    position: relative;
    text-align: center; }
    .product-item:hover {
      border-color: #e3a51e; }
      .product-item:hover .product-action-link a {
        opacity: 1;
        visibility: visible; }
        .product-item:hover .product-action-link a:first-child {
          right: 130px; }
        .product-item:hover .product-action-link a:last-child {
          left: 130px; }
  
  .product-thumb {
    overflow: hidden;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center; }
    .product-thumb img {
      margin-left: auto;
      margin-right: auto; }
  
  .product-content {
    padding: 20px 15px 40px; }
    .product-content .product-name {
      padding-bottom: 12px; }
  
  .product-name {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize; }
    .product-name a {
      color: #333333;
      font-weight: 500; }
      .product-name a:hover {
        color: #e3a51e; }
  
  .price-box {
    font-family: "Montserrat", sans-serif;
    line-height: 1; }
  
  .price-regular {
    color: #333333;
    font-size: 18px; }
  
  .price-old {
    font-size: 16px; }
  
  .ratings {
    font-size: 16px;
    color: #e3a51e; }
  
  .product-action-link a {
    left: 0;
    right: 0;
    bottom: -23px;
    margin: auto;
    position: absolute;
    color: #e3a51e;
    width: 46px;
    height: 46px;
    font-size: 20px;
    line-height: 46px;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #e3a51e;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
    .product-action-link a:hover {
      color: #fff;
      background-color: #e3a51e; }
    .product-action-link a:nth-child(2) {
      z-index: 2;
      opacity: 1;
      visibility: visible; }
    .product-action-link a span {
      display: block; }
  
  .product-item:hover .product-thumb img,
  .pro-item-small:hover .product-thumb img,
  .product-list-item:hover .product-thumb img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  
  /*------- product item end -------*/
  /*-------- product small item start --------*/
  .pro-item-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 479.98px) {
      .pro-item-small {
        display: block; } }
    .pro-item-small .product-thumb {
      width: 180px;
      border-radius: 0; }
      @media only screen and (max-width: 479.98px) {
        .pro-item-small .product-thumb {
          width: 100%; }
          .pro-item-small .product-thumb img {
            width: 100%; } }
  
  .pro-small-content {
    position: relative;
    padding-left: 20px;
    width: calc(100% - 180px); }
    @media only screen and (max-width: 479.98px) {
      .pro-small-content {
        height: 150px;
        width: 100%;
        padding-left: 0;
        margin-top: 25px; } }
    .pro-small-content .product-name {
      font-size: 16px;
      color: #333333;
      padding-bottom: 13px;
      text-transform: capitalize; }
    .pro-small-content .price-regular {
      font-size: 16px; }
    .pro-small-content .price-old {
      font-size: 16px; }
    .pro-small-content .ratings {
      padding-top: 20px; }
  
  .product-link-2 {
    left: 20px;
    bottom: 0;
    position: absolute; }
    @media only screen and (max-width: 479.98px) {
      .product-link-2 {
        left: 0; } }
    .product-link-2 a {
      width: 44px;
      height: 44px;
      font-size: 22px;
      color: #333333;
      line-height: 44px;
      text-align: center;
      display: inline-block;
      background-color: #f6f6f6; }
      .product-link-2 a span {
        display: block; }
      .product-link-2 a:hover {
        color: #fff;
        background-color: #e3a51e; }
  
  /*-------- product small item end --------*/
  /*----- product list item start -----*/
  .product-list-item {
    border: 1px solid #e5e5e5;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 575.98px) {
      .product-list-item {
        display: block !important; } }
    .product-list-item .product-thumb {
      width: 280px;
      -ms-flex-item-align: start;
      align-self: flex-start;
      border: 1px solid #e5e5e5; }
      @media only screen and (max-width: 767.98px) {
        .product-list-item .product-thumb {
          width: 190px; } }
      @media only screen and (max-width: 575.98px) {
        .product-list-item .product-thumb {
          width: 100%; } }
  
  .product-content-list {
    width: calc(100% - 280px);
    padding-left: 30px; }
    @media only screen and (max-width: 767.98px) {
      .product-content-list {
        padding-left: 25px;
        width: calc(100% - 190px); } }
    @media only screen and (max-width: 575.98px) {
      .product-content-list {
        padding-left: 0;
        margin-top: 30px;
        width: 100%; } }
    .product-content-list .product-name {
      font-size: 22px; }
    .product-content-list .price-box {
      padding: 15px 0; }
    .product-content-list p {
      padding-bottom: 25px; }
  
  /*----- product list item end -----*/

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .sidebar-wrapper {
      padding-top: 80px; } }
  
  @media only screen and (max-width: 767.98px) {
    .sidebar-wrapper {
      padding-top: 62px; } }
  
  .sidebar-wrapper .sidebar-single:last-child {
    margin-bottom: 0; }
  
  .sidebar-single {
    margin-bottom: 35px; }
    .sidebar-single .sidebar-title {
      margin-bottom: 20px;
      position: relative; }
      .sidebar-single .sidebar-title h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        margin-top: -3px;
        font-family: "Montserrat", sans-serif;
        text-transform: capitalize; }
  
  /*------ pricing filter slider start ------*/
  .price-range-wrap {
    padding-top: 8px; }
    .price-range-wrap .price-range {
      border-radius: 0;
      margin-right: 13px;
      margin-bottom: 20px; }
      .price-range-wrap .price-range.ui-widget-content {
        border: none;
        background: #eeeeee;
        height: 10px;
        border-radius: 20px; }
        .price-range-wrap .price-range.ui-widget-content .ui-slider-range {
          background-color: #e3a51e;
          border-radius: 0; }
        .price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
          border: none;
          background-color: #fff;
          height: 20px;
          width: 20px;
          outline: none;
          top: -5px;
          cursor: ew-resize;
          border-radius: 50%;
          -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15); }
          .price-range-wrap .price-range.ui-widget-content .ui-slider-handle:before {
            top: 50%;
            left: 50%;
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            background-color: #e3a51e;
            border-radius: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .price-range-wrap .range-slider {
      color: #333333;
      margin-top: 22px; }
      .price-range-wrap .range-slider .price-input {
        margin-bottom: 20px; }
        .price-range-wrap .range-slider .price-input label {
          color: #333333;
          margin-bottom: 0; }
        .price-range-wrap .range-slider .price-input input {
          color: #666666;
          border: none;
          outline: none;
          pointer-events: none; }
      .price-range-wrap .range-slider button.filter-btn {
        border: none;
        color: #333333;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
        line-height: 36px;
        padding: 0 15px;
        border-radius: 3px;
        background-color: #ebebeb; }
        .price-range-wrap .range-slider button.filter-btn:hover {
          color: #fff;
          background-color: #e3a51e; }
  
  /*------ pricing filter slider end ------*/
  /*----- color list area start -----*/
  .color-list li,
  .size-list li {
    line-height: 1;
    margin-bottom: 20px; }
    .color-list li:last-child,
    .size-list li:last-child {
      margin-bottom: 0; }
    .color-list li:first-child a,
    .size-list li:first-child a {
      padding-top: 0; }
    .color-list li a,
    .size-list li a {
      color: #333333;
      font-size: 16px;
      line-height: 1;
      display: block;
      text-transform: capitalize; }
      .color-list li a span,
      .size-list li a span {
        float: right; }
      .color-list li a:hover,
      .size-list li a:hover {
        color: #e3a51e; }
  
  /*----- color list area end -----*/
  /*----- sidebar banner start -----*/
  @media only screen and (max-width: 767.98px) {
    .sidebar-banner img {
      width: 100%; } }
  
  /*----- sidebar banner end-----*/
  /*----- shop Sidebar end -----*/

.shop-top-bar {
    padding-bottom: 30px; }
  
  .top-bar-left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (max-width: 767.98px) {
      .top-bar-left .product-view-mode {
        text-align: center;
        margin-top: 15px; } }
    .top-bar-left .product-view-mode a {
      color: #fff;
      background-color: #9e9e9e;
      width: 40px;
      height: 40px;
      display: inline-block;
      text-align: center;
      margin-right: 5px; }
      .top-bar-left .product-view-mode a i {
        line-height: 44px;
        font-size: 20px; }
      .top-bar-left .product-view-mode a:hover {
        background-color: #e3a51e; }
      .top-bar-left .product-view-mode a.active {
        background-color: #e3a51e; }
  
  .top-bar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (max-width: 479.98px) {
      .top-bar-right {
        display: block;
        text-align: center; } }
    .top-bar-right .product-short {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media only screen and (max-width: 479.98px) {
        .top-bar-right .product-short {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin-bottom: 15px; } }
      .top-bar-right .product-short p {
        margin-right: 10px; }
        @media only screen and (max-width: 575.98px) {
          .top-bar-right .product-short p {
            font-size: 14px; } }
    .top-bar-right .product-amount p {
      color: #666666;
      text-transform: capitalize; }
      @media only screen and (max-width: 575.98px) {
        .top-bar-right .product-amount p {
          font-size: 14px; } }
  
  .nice-select {
    width: 200px;
    font-size: 16px;
    padding: 0 10px; }
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
      .nice-select {
        width: 170px; } }
    .nice-select.open {
      border-color: #e3a51e; }
    .nice-select .list {
      right: 0;
      left: auto;
      width: 100%; }
    .nice-select .option {
      font-size: 13px;
      line-height: 34px;
      min-height: 34px; }
    .nice-select:after {
      width: 8px;
      height: 8px;
      border-right: 1px solid #999;
      border-bottom: 1px solid #999; }
  
  /*----- shop main wrapper end -----*/

  .shop-product-wrap.list-view .product-item {
    display: none; }
  
  .shop-product-wrap.grid-view .product-item {
    display: block;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  
  .shop-product-wrap.grid-view .product-list-item {
    display: none !important; }
  
  .shop-product-wrap.list-view .product-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; }
  
  .shop-product-wrap.row.list-view .col-lg-4, .shop-product-wrap.row.list-view .col-lg-3, .shop-product-wrap.row.list-view .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  
  .paginatoin-area {
    padding: 20px 0 18px;
    border: 1px solid #e5e5e5; }
    .paginatoin-area .pagination-box li {
      display: inline-block;
      margin-right: 10px; }
      .paginatoin-area .pagination-box li a {
        color: #333333;
        height: 40px;
        width: 40px;
        display: inline-block;
        padding: 0 10px;
        text-align: center;
        line-height: 37px;
        border: 1px solid #e5e5e5;
        border-radius: 4px; }
        .paginatoin-area .pagination-box li a:hover {
          color: #fff;
          border-color: #e3a51e;
          background-color: #e3a51e; }
      .paginatoin-area .pagination-box li.active a {
        color: #fff;
        border-color: #e3a51e;
        background-color: #e3a51e; }
  
  /*----- product details slider start ----*/
  .pro-large-img {
    position: relative;
    padding: 1px;
    cursor: pointer; }
    .pro-large-img img {
      width: 100%;
      border: 1px solid #ededed;
      -webkit-transition: none;
      -o-transition: none;
      transition: none; }
  
  .pro-nav-thumb {
    cursor: pointer; }
    .pro-nav-thumb img {
      border: 1px solid #ededed; }
  
  /*----- product details slider end ----*/
  /*----- product details content start ----*/
  .cat-title {
    font-size: 14px;
    line-height: 1;
    margin-right: 10px; }
    @media only screen and (max-width: 479.98px) {
      .cat-title {
        margin-right: 10px; } }
  
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .product-details-des {
      padding-top: 58px; } }
  
  @media only screen and (max-width: 767.98px) {
    .product-details-des {
      padding-top: 33px; } }
  
  .product-details-des .pro-det-title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif; }
    @media only screen and (max-width: 767.98px) {
      .product-details-des .pro-det-title {
        font-size: 20px; } }
  
  .product-details-des .price-box {
    padding-top: 10px;
    padding-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    color: #333333; }
  
  .product-details-des p {
    padding-top: 15px;
    padding-bottom: 20px; }
  
  .product-details-des .pro-review a {
    color: #e3a51e;
    font-size: 14px; }
  
  .product-details-des .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 15px; }
    .product-details-des .quantity .pro-qty {
      width: 90px;
      height: 46px;
      border: 1px solid #ddd;
      padding: 0 15px;
      float: left; }
      .product-details-des .quantity .pro-qty .qtybtn {
        width: 15px;
        display: block;
        float: left;
        line-height: 46px;
        cursor: pointer;
        text-align: center;
        font-size: 22px;
        color: #666666; }
      .product-details-des .quantity .pro-qty input {
        width: 28px;
        float: left;
        border: none;
        height: 46px;
        padding: 0;
        text-align: center;
        background-color: transparent; }
  
  .product-details-des .availability {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .product-details-des .availability span {
      color: #22dd77;
      font-size: 14px;
      padding-left: 3px; }
  
  .product-details-des .share-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .product-details-des .share-icon a {
      width: 36px;
      height: 36px;
      color: #666666;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      line-height: 36px;
      padding: 0 8px;
      margin-right: 6px;
      border: 1px solid #e5e5e5; }
      .product-details-des .share-icon a:hover {
        color: #fff;
        border-color: #e3a51e;
        background-color: #e3a51e; }
  
  .product-details-des .color-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .product-details-des .color-option ul {
      line-height: 1; }
      .product-details-des .color-option ul li {
        display: inline-block;
        margin-right: 5px;
        padding: 2px;
        border: 1px solid #ccc; }
        .product-details-des .color-option ul li a {
          height: 24px;
          width: 24px;
          display: block; }
  
  .product-details-des .pro-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .product-details-des .pro-size .nice-select {
      width: 100px;
      height: 46px;
      border-radius: 0;
      line-height: 48px; }
  
  .product-details-des .group-product-table {
    display: block; }
    .product-details-des .group-product-table.table-bordered {
      border: none; }
    .product-details-des .group-product-table td {
      width: 33.33%;
      padding: 8px;
      vertical-align: middle; }
      .product-details-des .group-product-table td a {
        color: #666666;
        text-transform: capitalize; }
        .product-details-des .group-product-table td a:hover {
          color: #e3a51e; }
      .product-details-des .group-product-table td .pro-qty {
        width: 90px;
        height: 36px;
        border: 1px solid #ddd;
        padding: 0 15px;
        float: left; }
        .product-details-des .group-product-table td .pro-qty .qtybtn {
          width: 15px;
          display: block;
          float: left;
          line-height: 36px;
          cursor: pointer;
          text-align: center;
          font-size: 15px;
          font-weight: 700;
          color: #666666; }
        .product-details-des .group-product-table td .pro-qty input {
          width: 28px;
          float: left;
          border: none;
          height: 36px;
          line-height: 36px;
          padding: 0;
          text-align: center;
          background-color: transparent; }
  
  /*----- product details content end ----*/
  /*----- reviews area start -----*/
  .product-review-info .nav.review-tab li a {
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    padding: 8px 10px;
    border: 1px solid #ededed;
    border-bottom: none;
    background-color: #979898; }
    .product-review-info .nav.review-tab li a:hover, .product-review-info .nav.review-tab li a.active {
      color: #666666;
      background-color: #fff; }
    @media only screen and (max-width: 479.98px) {
      .product-review-info .nav.review-tab li a {
        font-size: 12px;
        padding: 8px 9px; } }
  
  .product-review-info .tab-content.reviews-tab {
    border: 1px solid #ededed;
    padding: 15px 20px 20px; }
    .product-review-info .tab-content.reviews-tab .table {
      margin-bottom: 0; }
      .product-review-info .tab-content.reviews-tab .table tr {
        text-transform: capitalize; }
  
  .product-review-info .tab-content .review-description {
    padding-top: 25px;
    padding-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
      .product-review-info .tab-content .review-description {
        padding: 15px 0; } }
    @media only screen and (max-width: 767.98px) {
      .product-review-info .tab-content .review-description {
        display: block;
        padding: 12px 0; } }
    .product-review-info .tab-content .review-description .tab-thumb {
      -ms-flex-preferred-size: 300px;
      flex-basis: 300px; }
      @media only screen and (max-width: 767.98px) {
        .product-review-info .tab-content .review-description .tab-thumb {
          -ms-flex-preferred-size: 220px;
          flex-basis: 220px; } }
    .product-review-info .tab-content .review-description .tab-des {
      padding-left: 40px;
      -ms-flex-preferred-size: calc(100% - 300px);
      flex-basis: calc(100% - 300px); }
      @media only screen and (min-width: 992px) and (max-width: 1199.98px), only screen and (min-width: 768px) and (max-width: 991.98px) {
        .product-review-info .tab-content .review-description .tab-des {
          padding-left: 30px; } }
      @media only screen and (max-width: 767.98px) {
        .product-review-info .tab-content .review-description .tab-des {
          padding-left: 20px;
          padding-top: 30px;
          -ms-flex-preferred-size: calc(100% - 220px);
          flex-basis: calc(100% - 220px); } }
      .product-review-info .tab-content .review-description .tab-des h3 {
        color: #e3a51e;
        font-size: 20px;
        font-weight: 22px;
        font-weight: 500;
        text-transform: capitalize;
        padding-bottom: 10px; }
      .product-review-info .tab-content .review-description .tab-des ul li {
        padding: 3px 0;
        list-style: inherit; }
  
  .review-form h5 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
    text-transform: capitalize; }
    .review-form h5 span {
      color: #e3a51e; }
    @media only screen and (max-width: 575.98px) {
      .review-form h5 {
        font-size: 16px; } }
  
  .total-reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px; }
    .total-reviews .rev-avatar {
      -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
      max-height: 60px; }
    .total-reviews .review-box {
      margin-left: 10px;
      border: 1px solid #e5e5e5;
      padding: 10px;
      -ms-flex-preferred-size: calc(100% - 70px);
      flex-basis: calc(100% - 70px); }
      .total-reviews .review-box .post-author {
        padding-bottom: 10px; }
        .total-reviews .review-box .post-author p {
          font-size: 12px;
          font-style: italic;
          text-transform: capitalize; }
          .total-reviews .review-box .post-author p span {
            font-size: 13px; }
      .total-reviews .review-box p {
        font-size: 13px;
        font-style: italic; }
  
  /*----- reviews area end -----*/
  
.card{
  width: 30%;
  margin: 16px auto;
  border: none;
}

.card-body h5{

  color: #1B262C !important;
  padding: 0.5em 0;
  margin: 0;
  color: #1B262C;
  font-family: "Poppins", Sans-serif;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.5px;
}
.card-body a{
  color: #FFFFFF;
  background-color: #f8796c;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 30px 15px 30px;
  line-height: 1;
  cursor: pointer;
  font-family: "Poppins", Sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.card-body:hover a{
color: #f8796c;
background-color: #FFFFFF;
border:1.5px solid #f8796c;

}
.card-body p{
  padding-bottom: 1rem;
padding-top: 1rem;
}
.card i{
  background-color: white;
  padding: 7px;
  margin: 0 5px;
  font-size: 25px;
  transition: 0.3s;
}
.card  .img{
  position: relative;
}
.icons{
  width: 60%;
margin: 1px auto;
position: absolute;
bottom:0 ;
left: 50%;
transform: translateX(-50%);
 
 
opacity: 0;transition: 0.3s;
}
.card .img:hover .icons{
  bottom: 4rem;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  
}
.icons i:hover{
background-color: #f8796c;
color:white;
}
.pagination li a{
  color: black;
  font-size: 23px;
}
.pagination .active{
  background-color: #da7d2d !important;
  color:  white;
}
.price_filter {
  padding-bottom: 15px;
}
.sidebar-price-filter {
  display: flex;
  justify-content: space-between;
}
.filter-price-range-to label, .filter-range-from label {
  display: block;
  font-size: 14px;
  color: var(--ltn__color-1);
}
.sidebar-price-filter input, .blog-sidebar input {
  font-weight: 400;
}
.filter-price-range-to label, .filter-range-from label, .store-front-filter label.filter-value-control-label span {
  color: var(--ltn__paragraph-color);
}
.sidebar-price-filter input, .blog-sidebar input {
  font-weight: 400;
}
.sidebar-price-filter input {
  width: 100px;
  padding: 10px;
  font-weight: 700;
  height: 45px;
}
#contact-us .contact-us-form {
  margin-bottom: 60px;
  padding: 60px 65px 30px;
  border-radius: 5px;
}

#contact-us .contact-us-form h2 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 0 0 1em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: #062265;
}

.info-item {
  padding: 50px 40px;
  margin-bottom: 30px;
}

.info-item h2 {
  font-size: 24px;
  color: #242f6c;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: 'Rubik', sans-serif;
}

.info-item .info-wrap .info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  line-height: 115px;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242f6c;
}

.info-item .info-wrap .info-icon i {
  font-size: 40px;
  line-height: 90px;
}



.info-item .info-wrap .info-text span {
  color: #666666;
  font-size: 18px;
  font-weight: 600;
}
#section-template-1-contact-info-2 {
  padding-top: 0px;
  padding-bottom: 70px;
}

.ltn__contact-address-item-3 {
  border: 1px solid #ededed;
  padding: 4rem;
  text-align: center;
}
.ltn__contact-address-item-3 .ltn__contact-address-icon {
  margin-bottom: 35px;
}
iframe {
  max-width: 100%;
}
.google-map {
  height: 800px;
}

.contact-form-box {
    padding: 40px 50px 50px;
    position: relative;
    z-index: 1;
}
.title-2 {
  margin-bottom: 30px;
  font-size: 26px;
}
